<!-- templates/home.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="container masthead">
        <h1 itemprop="name" content="This is my blog">
        <a href="/" class="logo">
            This <span>is</span> my <span>schedule</span>
        </a>
        </h1>
        <h5>The webapp to build door schedules</h5>
    </div>

    <div>
        {% for instructor in object_list %}

        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Quarter: 2022Q4</div>
            <div class="card-body">
              <h4 class="card-title">{{ instructor.first_name }} {{ instructor.last_name }}</h4>
              <p class="card-text">ENGR 101 CRN ########</p>
              <p class="card-text">ENGR 114 CRN ########</p>
              <p class="card-text">ENGR 211 CRN ########</p>
            </div>
          </div>

        {% endfor %}
    </div>

    {% block subscribe %}
    {% endblock subscribe %}

{% endblock content %}
